Repository pawover/amap-web-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix --allow-empty-input, stylelint --fix --custom-syntax postcss-html

types(amap-types): getExtData 支持传入泛型
  libs/types/src/amap-api/accessor.d.ts
Due: eslint --fix, prettier --write

fix(amap-react): 修复 Marker 组件子内容渲染错误
  libs/react/package.json
  libs/react/src/amap-api/marker/useMarker.ts
Due: eslint --fix, prettier --write

release(amap-types): 优化类型泛型
  libs/types/package.json
Due: prettier --write

types(amap-types): 边界情况兜底处理
  libs/react/package.json
  libs/react/src/amap-api/bezierCurveEditor/index.ts
  libs/react/src/amap-api/circleEditor/index.ts
  libs/react/src/amap-api/contextMenu/useContextMenu.ts
  libs/react/src/amap-api/ellipseEditor/index.ts
  libs/react/src/amap-api/polygonEditor/index.ts
  libs/react/src/amap-api/polylineEditor/index.ts
  libs/react/src/amap-api/rectangleEditor/index.ts
  libs/types/package.json
  libs/types/src/amap-api/event.d.ts
  libs/types/src/amap-api/map/map.d.ts
  libs/types/src/amap-api/overlay/contextMenu.d.ts
  libs/types/src/amap-api/overlay/marker.d.ts
  libs/types/src/amap-api/overlay/overlayGroup.d.ts
  libs/types/src/amap-api/overlay/polygon.d.ts
Due: eslint --fix, prettier --write

perf(amap-react): 优化 event 判断
  libs/react/src/amap-api/contextMenu/useContextMenu.ts
Due: eslint --fix, prettier --write

release(amap-react): release
  libs/react/package.json
Due: prettier --write

types(amap-types): 优化过于严格的字符串类型
  libs/types/package.json
  libs/types/src/amap-api/overlay/base.d.ts
  libs/types/src/amap-api/overlay/markerCluster.d.ts
  libs/types/src/loca-api/legend.d.ts
Due: eslint --fix, prettier --write

feat(amap-react): text 组件优化
  libs/react/package.json
  libs/react/src/amap-api/marker/useMarker.ts
  libs/react/src/amap-api/text/index.ts
  libs/react/src/amap-api/text/useText.ts
Due: eslint --fix, prettier --write

refactor(amap-react): 重构 api-loader
  docs/package.json
  libs/react/package.json
  libs/react/src/amap-api/bezierCurveEditor/index.ts
  libs/react/src/amap-api/circleEditor/index.ts
  libs/react/src/amap-api/citySearch/useCitySearch.ts
  libs/react/src/amap-api/ellipseEditor/index.ts
  libs/react/src/amap-api/marker/useMarker.ts
  libs/react/src/amap-api/polygonEditor/index.ts
  libs/react/src/amap-api/polylineEditor/index.ts
  libs/react/src/amap-api/rectangleEditor/index.ts
  libs/react/src/amap-api/text/useText.ts
  libs/react/src/api-loader/index.ts
  libs/react/src/api-loader/index.tsx
  libs/react/src/api-loader/useAPILoader.ts
  libs/react/src/index.ts
  libs/react/src/loca-api/legend/index.tsx
  libs/react/src/loca-api/legend/useLegend.tsx
  libs/react/src/loca-api/loca/context.ts
  libs/react/src/loca-api/loca/index.tsx
  libs/react/src/loca-api/pointLayer/index.tsx
  libs/types/package.json
  libs/vue/package.json
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(amap-react): 关心 AMapUI 和 Loca 的加载完成
  libs/react/package.json
  libs/react/src/api-loader/index.ts
  libs/react/src/api-loader/useAPILoader.ts
Due: eslint --fix, prettier --write

refactor(amap-react): 重构 AMapUI Plugins 加载代码
  libs/react/package.json
  libs/react/src/api-loader/index.ts
  libs/react/src/api-loader/useAPILoader.ts
  libs/types/package.json
  libs/types/src/amapUI-api/plugin.d.ts
  libs/types/src/amapUI-api/utils.d.ts
  libs/types/src/global.d.ts
Due: eslint --fix, prettier --write

fix(amap-react): 组件销毁时删除全局 AMap 等 对象
  libs/react/package.json
  libs/react/src/api-loader/index.ts
  libs/types/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

types(amap-types): 正确的类型重载
  libs/types/src/amap-api/service/placeSearch.d.ts
Due: eslint --fix, prettier --write

fix(amap-react): infoWindow 始终使用自定义窗体
  libs/react/package.json
  libs/react/src/amap-api/infoWindow/index.ts
  libs/react/src/amap-api/infoWindow/useInfoWindow.ts
Due: eslint --fix, prettier --write

types(amap-types): infoWindow 描述
  libs/types/package.json
  libs/types/src/amap-api/overlay/infoWindow.d.ts
Due: eslint --fix, prettier --write

build(packages): lib update | change prettier settings
  .commitlintrc.cjs
  .cz-config.js
  .prettierrc.json
  .vscode/settings.json
  package.json
  packages/shared/index.ts
  packages/shared/src/typeof.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

docs(docs): docs update
  README.md
  docs/docs/.vitepress/config.ts
  docs/docs/.vitepress/theme/index.ts
  docs/docs/amap-web-react/02-APILoader.md
  docs/docs/amap-web-react/03-Map.md
  docs/docs/amap-web-types/amap-api/01-common.md
  docs/package.json
Due: eslint --fix, prettier --write

feat(amap-react): 新增 loca 组件
  libs/react/package.json
  libs/react/src/amap/utils/hooks.ts
  libs/react/src/loca/iconLayer/index.ts
  libs/react/src/loca/iconLayer/useIconLayer.ts
  libs/react/src/loca/labelsLayer/index.ts
  libs/react/src/loca/labelsLayer/useLabelsLayer.ts
  libs/react/src/loca/lineLayer/index.ts
  libs/react/src/loca/lineLayer/useLineLayer.ts
  libs/react/src/loca/linkLayer/index.ts
  libs/react/src/loca/linkLayer/useLinkLayer.ts
  libs/react/src/loca/pointLayer/index.ts
  libs/react/src/loca/pointLayer/usePointLayer.ts
  libs/react/src/loca/polygonLayer/index.ts
  libs/react/src/loca/polygonLayer/usePolygonLayer.ts
  libs/react/src/loca/prismLayer/index.ts
  libs/react/src/loca/prismLayer/usePrismLayer.ts
Due: eslint --fix, prettier --write

fix(amap-types): 导出 amapUI 的 utils.ts
  libs/types/src/amapUI-api/index.ts
Due: eslint --fix, prettier --write

fix(amap-types): 导出 loca common.ts
  libs/types/src/loca-api/index.ts
Due: eslint --fix, prettier --write

release(amap-types):
  libs/react/package.json
  libs/types/package.json
Due: prettier --write

types(amap-types): 新增 CustomLayer 和 GLCustomLayer 中 options 的 render 与 init 类型
  libs/types/src/amap-api/layer/customLayer.ts
  libs/types/src/amap-api/layer/glCustomLayer.ts
Due: eslint --fix, prettier --write

docs(packages): change repository url
  libs/react/package.json
  libs/types/package.json
Due: prettier --write

chore(other): lib up
  .commitlintrc.cjs
  .eslintrc.json
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .vscode/settings.json
  LICENSE
  README.md
  docs/docs/.vitepress/config.ts
  docs/docs/amap-web-react/01-开始.md
  docs/docs/amap-web-types/01-开始.md
  docs/package.json
  libs/react/package.json
  libs/react/src/amap/map/index.ts
  libs/react/src/amap/utils/hooks.ts
  libs/react/src/loca/loca/index.ts
  libs/types/package.json
  libs/vue/package.json
  package.json
  packages/shared/package.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
  tsconfig.json
  tsconfig.packages.json
  tsconfig.react.json
  tsconfig.types.json
  tsconfig.vue.json
Due: eslint --fix, prettier --write

release(amap-react): release
  .commitlintrc.cjs
  .npmrc
  libs/react/package.json
  libs/types/package.json
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore(other): commitlint
  .commitlintrc.cjs
  commitlint.config.cjs
  commitlint.cz.cjs
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore(other): registry
  .npmrc
Due: none

chore(other): lib up
  .eslintrc.json
  docs/package.json
  libs/react/package.json
  libs/react/src/loader/useAPILoader.ts
  libs/vue/package.json
  package.json
  pnpm-lock.yaml
  tsconfig.common.json
  tsconfig.json
Due: eslint --fix, prettier --write

refactor(amap-react): 采用 AnyFunction 替换 Fn 并规范函数签名换行
  packages/react/src/amap/bezierCurve/index.ts
  packages/react/src/amap/circle/index.ts
  packages/react/src/amap/contextMenu/index.ts
  packages/react/src/amap/ellipse/index.ts
  packages/react/src/amap/infoWindow/index.ts
  packages/react/src/amap/map/index.ts
  packages/react/src/amap/map/useMap.ts
  packages/react/src/amap/map/useMapContext.ts
  packages/react/src/amap/polygon/index.ts
  packages/react/src/amap/polyline/index.ts
  packages/react/src/amap/rectangle/index.ts
  packages/react/src/amap/utils/hooks.ts
  packages/react/src/loader/index.ts
  packages/react/src/loca/loca/useLocaContext.ts
  packages/react/tsdown.config.ts
Due: eslint --fix, prettier --write

chore(deps): 新增 type-fest 依赖锁定
  pnpm-lock.yaml
Due: none

chore(test): 调整 test/tsconfig.json 继承配置
  test/tsconfig.json
Due: none

feat(amap-loader): 新增独立 amap-web-loader 发布包并重构 APILoader
  .changeset/loader-singleton.md
  cz.config.cjs
  packages/loader/package.json
  packages/loader/src/index.ts
  packages/loader/tsconfig.json
  packages/loader/tsdown.config.ts
  packages/react/CONTEXT.md
  packages/react/docs/adr/0001-self-implemented-singleton-loader.md
  packages/react/package.json
  packages/react/src/loader/index.ts
  packages/react/src/loader/useAPILoader.ts
  packages/types/package.json
  packages/types/src/global.ts
  pnpm-lock.yaml
  test/unit/react/loader.test.ts
Due: eslint --fix, prettier --write

fix(ci): 调整构建顺序并适配无根包版本
  package.json
  scripts/bumpRoot.ts
  scripts/verifyRelease.ts
Due: eslint --fix, prettier --write

release(release): 修订版本号
  .changeset/pre/loader-singleton.md
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/react/CHANGELOG.md
  packages/types/package.json
Due: prettier --write

docs(docs): 补充 amap-web-loader 发布包说明并更新发布包计数
  AGENTS.md
Due: prettier --write

Path conditions:
  eslint --fix: (any of: *.{js,jsx,mjs,cjs,ts,tsx,mts,cts}) or (any of: *.vue)
  prettier --write: (((((any of: *.{js,jsx,mjs,cjs,ts,tsx,mts,cts}) or (any of: *.{css,scss,less,postcss,styl})) or (any of: *.vue)) or (any of: *.html)) or (any of: *.md)) or (any of: package.json)
  stylelint --fix --allow-empty-input: any of: *.{css,scss,less,postcss,styl}
  stylelint --fix --custom-syntax postcss-html: (any of: *.vue) or (any of: *.html)
