Repository pawover/amap-web-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix --allow-empty-input, stylelint --fix --custom-syntax postcss-html

.lintstagedrc.json:

{
  "*.{js,jsx,mjs,cjs,ts,tsx,mts,cts}": ["eslint --fix", "prettier --write"],
  "*.{css,scss,less,postcss,styl}": ["stylelint --fix --allow-empty-input", "prettier --write"],
  "*.vue": ["eslint --fix", "prettier --write", "stylelint --fix --custom-syntax postcss-html"],
  "*.html": ["stylelint --fix --custom-syntax postcss-html", "prettier --write"],
  "*.md": ["prettier --write"],
  "package.json": ["prettier --write"]
}

feat(other): 添加简易的发布脚本及占位说明文件
  package.json
  react/README.md
  react/package.json
  tsconfig/package.json
  turbo.json
  types/package.json
Due: prettier --write

build(other): 修改包名，完善相关依赖
  pnpm-lock.yaml
  react/package.json
  react/src/index.ts
  react/tsconfig.json
  turbo.json
  types/package.json
  types/src/global.d.ts
  types/tsconfig.json
Due: eslint --fix, prettier --write

fix(amap-types): 修改 AMapUI 插件类型定义，以适配 ApiLoader 的加载
  .cz-config.js
  pnpm-lock.yaml
  tsconfig/base.json
  types/package.json
  types/src/amapUI-api/plugin.d.ts
Due: eslint --fix, prettier --write

build(other): 升级依赖 | 调整 tsconfig base.json 中的 noUnusedLocals 默认为 true
  package.json
  pnpm-lock.yaml
  react/package.json
  react/tsconfig.json
  tsconfig/base.json
  types/package.json
Due: prettier --write

build(amap-types): 显示依赖 typescript 版本号
  .npmrc
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  react/package.json
  types/package.json
Due: prettier --write

build(other): 由继承者指定是否需要 importHelpers
  tsconfig/base.json
Due: none

build(other): add config newLine
  tsconfig/base.json
Due: none

build(other): change base tsconfig
  package.json
  tsconfig/base.json
Due: prettier --write

build(other): 更新依赖
  package.json
  pnpm-lock.yaml
  react/package.json
  types/package.json
Due: prettier --write

styles(other): styles
  package.json
Due: prettier --write

build(react-amap): 删除非必要依赖
  react/package.json
  react/tsconfig.json
Due: prettier --write

refactor(other): 优化选项
  tsconfig/base.json
  tsconfig/package.json
  tsconfig/react-app.json
  tsconfig/react-lib.json
  tsconfig/react-library.json
  tsconfig/vue-app.json
  tsconfig/vue-library.json
Due: prettier --write

build(amap-types): 删除非必要依赖
  types/.eslintrc.json
  types/package.json
  types/src/global.d.ts
  types/tsconfig.json
Due: eslint --fix, prettier --write

release(react-amap): 更新版本
  package.json
  pnpm-lock.yaml
Due: prettier --write

release(react-amap): 发布更新
  .npmrc
  package.json
  tsconfig/package.json
  turbo.json
Due: prettier --write

types(amap-types): 添加默认值说明
  react/src/amap-api/massMarks/useMassMarks.tsx
  types/src/amap-api/control/base.d.ts
  types/src/amap-api/control/hawkEye.d.ts
Due: eslint --fix, prettier --write

release(react-amap): release
  react/package.json
  types/package.json
Due: prettier --write

fix(other): 添加对 node16 和 bundler 解析策略的支持
  react/package.json
  types/package.json
Due: prettier --write

fix(react-amap): fix load bug
  pnpm-lock.yaml
  react/package.json
  react/src/amap-api/map/context.ts
  react/src/amap-api/map/index.tsx
  react/src/amap-api/map/useMap.tsx
  react/src/api-loader/index.tsx
  react/src/index.ts
Due: eslint --fix, prettier --write

types(amap-types): 完善类型
  types/package.json
  types/src/amap-api/base/arrayBounds.d.ts
  types/src/amap-api/static.d.ts
  types/src/amap-api/util/UA.d.ts
  types/src/amap-api/util/domUtil.d.ts
  types/src/amap-api/util/geometryUtil.d.ts
  types/src/amap-api/util/user.d.ts
  types/src/amap-api/util/util.d.ts
Due: eslint --fix, prettier --write

refactor(react-amap): 重构
  react/src/api-loader/index.tsx
Due: eslint --fix, prettier --write

release(amap-types): 修复路径解析策略
  .eslintrc.json
  package.json
  pnpm-lock.yaml
  react/package.json
  types/package.json
Due: prettier --write

types(amap-types): 重组 APILoaderOptions 类型声明 | 修改 implement.d.ts 文件名 | 修改类型注释
  react/src/api-loader/index.tsx
  types/src/amap-api.d.ts
  types/src/amap-api/event.d.ts
  types/src/amap-api/implement.d.ts
  types/src/amap-api/map.d.ts
  types/src/global.d.ts
Due: eslint --fix, prettier --write

refactor(other): refactoring to Monorepo
  README.md
  packages/shared/package.json
  pnpm-lock.yaml
Due: prettier --write

docs(docs): 添加文档相关
  .eslintrc.json
  .gitignore
  docs/docs/.vitepress/config.ts
  docs/docs/.vitepress/theme/custom.css
  docs/docs/.vitepress/theme/index.ts
  docs/docs/amap-web-react/01-开始.md
  docs/docs/amap-web-react/02-APILoader.md
  docs/docs/amap-web-react/03-Map.md
  docs/docs/amap-web-react/04-Scale.md
  docs/docs/amap-web-react/05-ControlBar.md
  docs/docs/amap-web-types/01-开始.md
  docs/docs/amap-web-types/amap-api/01-common.md
  docs/docs/index.md
  docs/docs/public/favicon.ico
  docs/package.json
  libs/react/README.md
  libs/react/tsconfig.json
  libs/vue/build.config.ts
  libs/vue/package.json
  libs/vue/src/amap-api/index.ts
  libs/vue/src/amap-api/map/index.vue
  libs/vue/src/index.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
  tsconfig.package.json
  tsconfig.react.json
  tsconfig.vue.json
  turbo.json
Due: eslint --fix, prettier --write, stylelint --fix --allow-empty-input, stylelint --fix --custom-syntax postcss-html

docs(docs): add readme
  README.md
Due: prettier --write

fix(other): 删除不需要的 readme
  libs/types/README.md
  packages/shared/src/objects.ts
Due: eslint --fix, prettier --write

refactor(packages): lib ES2022 -\> ES2020
  packages/shared/src/objects.ts
  packages/shared/src/typeof.ts
  packages/tsconfig/base.json
  packages/tsconfig/node.json
  packages/tsconfig/react-app.json
  packages/tsconfig/vue-app.json
  tsconfig.packages.json
Due: eslint --fix, prettier --write

release(amap-react): 同步版本号
  libs/react/package.json
Due: prettier --write

test(amap-vue): 测试eslint覆盖vue文件
  libs/vue/package.json
  libs/vue/src/amap-api/map/index.vue
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

build(other): 依赖变更
  .cz-config.js
  .eslintrc.json
  package.json
  pnpm-lock.yaml
  tsconfig.json
  tsconfig.react.json
  tsconfig.types.json
  tsconfig.vue.json
Due: eslint --fix, prettier --write

build(other): 删除不必要的依赖，修复 ts 错误
  .eslintrc.json
  libs/react/package.json
  libs/react/src/amap-api/infoWindow/useInfoWindow.ts
  libs/react/src/index.ts
  libs/types/tsconfig.json
  libs/vue/package.json
  libs/vue/src/index.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(amap-react): 修复安装依赖错误
  libs/react/package.json
  libs/vue/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(amap-types): 将contextMenu移出普通覆盖物类型
  libs/types/package.json
  libs/types/src/amap-api/common.d.ts
  libs/types/src/amap-api/overlay/bezierCurve.d.ts
  libs/types/src/amap-api/overlay/circle.d.ts
  libs/types/src/amap-api/overlay/circleMarker.d.ts
  libs/types/src/amap-api/overlay/contextMenu.d.ts
  libs/types/src/amap-api/overlay/ellipse.d.ts
  libs/types/src/amap-api/overlay/infoWindow.d.ts
  libs/types/src/amap-api/overlay/labelMarker.d.ts
  libs/types/src/amap-api/overlay/marker.d.ts
  libs/types/src/amap-api/overlay/polygon.d.ts
  libs/types/src/amap-api/overlay/polyline.d.ts
  libs/types/src/amap-api/overlay/rectangle.d.ts
Due: eslint --fix, prettier --write

types(amap-types): 补充类型信息
  .eslintrc.json
  .vscode/settings.json
  libs/types/package.json
  libs/types/src/amap-api.d.ts
  libs/types/src/amap-api/common.d.ts
  libs/types/src/amap-api/deprecated.d.ts
  libs/types/src/amap-api/index.d.ts
  libs/types/src/amap-api/layer/labelsLayer.d.ts
  libs/types/src/amap-api/map/map.d.ts
  libs/types/src/amap-api/overlay/bezierCurve.d.ts
  libs/types/src/amap-api/overlay/circle.d.ts
  libs/types/src/amap-api/overlay/circleMarker.d.ts
  libs/types/src/amap-api/overlay/ellipse.d.ts
  libs/types/src/amap-api/overlay/infoWindow.d.ts
  libs/types/src/amap-api/overlay/labelMarker.d.ts
  libs/types/src/amap-api/overlay/marker.d.ts
  libs/types/src/amap-api/overlay/polygon.d.ts
  libs/types/src/amap-api/overlay/polygonEditor.d.ts
  libs/types/src/amap-api/overlay/polyline.d.ts
  libs/types/src/amap-api/overlay/rectangle.d.ts
  libs/types/src/amap-api/plugin.d.ts
  libs/types/src/amapUI-api.d.ts
  libs/types/src/amapUI-api/index.d.ts
  libs/types/src/index.d.ts
  libs/types/src/loca-api.d.ts
  libs/types/src/loca-api/index.d.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write
